---
name: Starter Workflow Demo

on:
  workflow_call:
  push:
    branches: master
  pull_request:
    branches: master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: demo workflow job
        run: echo This is a demo start workflow